a:hover {
    color:black;
    transition-duration: 0.3s;
}

.pokemon:hover {
    outline: 3px solid black
}

button {
    border-radius: 8px;
    transition-duration: 0.3s;
    font-size: 16px;
    background-color: aquamarine;
    color: darkblue;
}

button:hover {
    background-color: darkblue;
    color: white;
}

button:active {
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

ul {
    list-style-image: url('resources/pokeball.png');

}

form {
    padding: 16px;
    border-color: black;

}

form:hover {
    outline: 3px solid black
}

table, th, td {
    padding: 16px;
    border: 2px solid;
    border-color: blue;
    border-width: 3px;
    border-collapse: collapse;
    
}

tr:nth-child(even) {
    background-color: lightgray;
}

.background-fade {
    background-color: rgba(0, 255, 0, 0.3);
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body {
    background-color: azure;
}

.pokeball {
    animation: spin 6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}